*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

.header{
    text-align: center;
    padding: 2rem;
    margin: 1rem 0;
}

.header > h1 {
    margin-bottom: 20px;
}
.tribute{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    max-width: 78rem;
    background-color: white;
    color:  black;
    align-items: center;
}

.tribute blockquote{
    text-align: center;
    font-size: 3rem;
}

.tribute img{
    width: 100%
}

.bio{
    max-width: 40rem;
    padding: 0 0.5rem;
    margin: 2rem auto;
}

.bio > h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
  }
  .bio > p {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .bio > hr {
    margin-top: 2rem;
  }