body {
    background-color: black;
    color: white;
}

.container{
    max-width: 50rem;
    margin: 0 auto;
    border: 2px solid white;
    padding: 0 2rem;
}

.main-heading {
    font-size: 4rem;
    text-align: center;
}
.field-head{
    font-size: 2rem;
}

.input-div{
    margin: 10px 0;
}

.form-control-input{
    font-size: 1.5rem;
    height: 2.5rem;
    width: 20rem;
    border-radius: 10px;
    margin: 5px 0;
}

/* .input-div input,select{
    
} */

#street-address{
    width: 100%;
}
#street-address-2{
    width: 100%;
}

button{
    background-color: blue;
    font-size: 2rem;
    color: wheat;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px auto;
}
